<a href="https://colab.research.google.com/github/learn-uj/HousingPrices/blob/master/HousingPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
train = pd.read_csv("train.csv")

In [0]:
train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
y = train['SalePrice']

In [0]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = train[features].copy()

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X,y,train_size = 0.8, test_size= 0.2)

In [0]:
x_train.head()

      LotArea  YearBuilt  1stFlrSF  ...  FullBath  BedroomAbvGr  TotRmsAbvGrd
2       11250       2001       920  ...         2             3             6
1365     7500       2000       814  ...         2             3             7
319     14115       1980      1472  ...         2             3             6
68       4608       1945       747  ...         1             2             4
1218     6240       1947       672  ...         1             2             3

[5 rows x 7 columns]

In [0]:
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [0]:
from sklearn.metrics import mean_absolute_error

# Function for comparing different models
def score_model(model, X_t=x_train, X_v=x_valid, y_t=y_train, y_v=y_valid):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 22005
Model 2 MAE: 21740
Model 3 MAE: 21277
Model 4 MAE: 22017
Model 5 MAE: 21538

In [0]:
best_model = model_3

In [0]:
best_model.fit(X,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
test = pd.read_csv("test.csv")

In [0]:
x_test = test[features]

In [0]:
y_pred = best_model.predict(x_test)
op = pd.DataFrame({'id': x_test.index, 'SalePrice': y_pred})
op.to_csv('sub.csv',index = False)

In [0]:
op.index_col = 'id'

In [0]:
op.head()

   id  SalePrice
0   0  119433.08
1   1  158367.50
2   2  185351.21
3   3  178343.12
4   4  192898.29